body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to bottom right, rgba(105, 7, 113, 0.814),rgb(10,213,240));
}

#app {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
